/* Reset & Base Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background: linear-gradient(to right, #000000, #7B0002);
  height: 100vh;
  padding: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Top right buttons */
.auth-buttons {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  gap: 1rem;
}
.auth-btn {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
}

/* Logo */
.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 2rem;
  font-weight: bold;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

/* Main Content */
main {
  max-width: 600px;
}

.heading {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 0rem;
}

.subheading {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 10rem;
}

.main-btn {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-right: 1rem;
  transition: background-color 0.3s ease;
  margin-bottom: 10rem;
}

.main-btn:hover {
  background-color: #dddddd;
}

.secondary {
  background-color: white;
  color: black;
}

#nameInputContainer {
  margin-top: 2rem;
}

.name-input-wrap {
  display: flex;
  align-items: center;
  border-radius: 30px;
  background: white;
  overflow: hidden;
  width: 100%;
  margin-bottom: 9rem;
}

.name-input-wrap input {
  flex: 1;
  padding: 0.75rem 1rem;
  border: none;
  font-size: 1rem;
  color: black;
  outline: none;
}

.go-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 0.75rem 1.25rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.back-link {
  display: inline-block;
  color: white;
  text-decoration: none;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  cursor: pointer;
}

/* Line */
hr {
  border: 1px solid white;
  max-width: 600px;
}

/* Hidden state */
.hidden {
  display: none;
}
